<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "EffusionDesktop", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="uk-navbar-container">
        <nav class="uk-navbar">
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li><a href="/transfers">Transfers</a></li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li><a href="/settings"><span uk-icon="settings"></span>Settings</a></li>
            </ul>
          </div>
        </nav>
      </section>
    </header>
    <div class="uk-container-expand">
      <%= @inner_content %>
    </div>
  </body>
</html>
